{{- define "title" -}}{{- .Site.Title -}}{{- end -}}

{{- define "main" -}}

<section class="hero is-fullheight is-default is-bold">

    {{- partial "navbar.html" . -}}
    {{- partial "navbar-clone.html" . -}}

    <!-- {{- $baseurl := .Site.BaseURL -}}
    {{- $homepage   := .Site.Params.homepage -}}
    {{- $title      := index $homepage "title" -}}
    {{- $subtitle   := index $homepage "subtitle" -}}
    {{- $description   := index $homepage "description" -}}
    {{- $image      := printf "%v%s" $baseurl .Site.Params.homepage.logo -}} -->
    <div class="hero-body">
        <div class="container">
            <div class="column landing-caption has-text-centered">
                <div class="column">
                    <a href="#">
                        <img src="{{- $image -}}" width="220px" alt="لوگو شیرازلاگ | گروه کاربران گنو/لینوکس شیراز">
                    </a>
                </div>

                <div class="column">
                    <h1 class="title is-1 is-bold">
                        {{- $title -}}
                    </h1>
                    {{- with $subtitle -}}
                    <h2 class="subtitle is-6 is-muted">
                        {{ . }}
                    </h2>
                    {{- end -}}
                </div>
            </div>
            <div class="column">
                <h1 class="subtitle is-4 is-muted has-text-justified">
                    {{- $description -}}
                </h1>
            </div>

            <hr>

            <div class="column has-text-centered">
                {{- $last_session_poster := printf "%v%s" $baseurl .Site.Params.homepage.lastSessionPoster -}}
                <div class="column">                    
                    <div class="column">
                        <h2 class="shabnam">آخرین جلسه شیرازلاگ</h2>
                        <a href="/sessions/session{{ .Site.Params.homepage.lastSessionNo }}">
                            <img class="next-session" src="{{- $last_session_poster -}}"
                                alt="{{.Site.Params.homepage.lastSessionAlt}}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{- partial "footer.html" . -}}

<!-- Back To Top Button -->
<div id="backtotop">
    <a href="#"></a>
</div>

{{- partial "sidebar.html" . -}} {{- end -}}